{{- range $name, $svc := .Values.services }}
---
apiVersion: v1
kind: Service
metadata:
  name: {{ $name }}
spec:
  type: ClusterIP
  selector:
    app: {{ $name }}
  ports:
    - protocol: TCP
      port: {{ $svc.containerPort }}
      targetPort: {{ $svc.containerPort }}
{{- end }}